body {
   font-family: 'Roboto', sans-serif;
  
}
* {
   margin: 0;
   padding: 0;
}
.container {
   max-width: 100%;
   min-width: 320px;

}
.wrap {
   max-width: 1200px;
   margin: 0 auto;
   padding: o 15px;
   
}
