footer {
   padding-top: 30px;
   padding-bottom: 30px;
   background: #202b30;
}
.footer__top {
   display: flex;
   justify-content: space-between;
   align-items: center;

}
.footer__menu ul {
   list-style: none;
   display: flex;
}
.footer__menu li {
   margin-left: 35px;
  
}
.footer__menu li a {
   text-decoration: none;
   font-size: 16px;  
   font-weight: 500;
   line-height: 100%;
   color: #fff;
}
.footer__menu li a:hover {
   color: #fb414e;
   text-decoration: underline;
  
}

/*Responsive*/


/* 992px - 1200px */
@media screen and (max-width: 1200px){
   footer {
   padding: 30px 15px;
   }
}



/* 576px - 768px */
@media screen and (max-width: 768px){
   .footer__top {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
     
   
   }
}

/* 320px - 576px */
@media screen and (max-width: 576px){
   .footer__menu li {
      margin-left: 20px;
     
   }
   .footer__menu li a {
      text-decoration: none;
      font-size: 14px;  
   }
}