.service {
   padding-top: 90px;
   padding-bottom: 90px;
}
.service__title {
   font-size: 48px;
   font-weight: 500;
   color: #1f1f1f;
   line-height: 70px;
   text-align: center;
}
.service__title-red {
   color: red;
}
.service__subtitle {
   font-size: 16px;
   font-weight: 300;
   color: #838383;
   line-height: 28px;
   text-align: center;
}
.service__block {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-top: 60px;
}
.service__item {
   flex-basis: 32%;
   box-sizing: border-box;
   text-align: center;
   margin-bottom: 60px;
   padding: 15px;
}
.service__item h3 {
   font-size: 36px;
   font-weight: 500;
   color: #1f1f1f;
   line-height: 72px;
}
.service__item p {
   font-size: 16px;
   font-weight: 300;
   color: #838383;
   line-height: 28px;
}

/*Responsive*/




/* 768px - 992px */
@media screen and (max-width: 992px){
   .service {
     padding: 60px 20px;
   }
   .service__title {
      font-size: 36px;
      line-height: 52px;
     
   }
   .service__item h3 {
      font-size: 24px;
      line-height: 36px;
      margin-top: 20px;
      margin-bottom: 20px;
   }
   .service__item p {
      font-size: 14px;
      line-height: 22px;
   }
}

/* 576px - 768px */
@media screen and (max-width: 768px){
   .service__item {
      flex-basis: 49%;
      margin-bottom: 30px;
      padding: 10px;
   }
   .service__title {
      font-size: 26px;
      line-height: 36px;
     
   }
   .service__item h3 {
      font-size: 21px;
      line-height: 28px;
      margin-top: 20px;
      margin-bottom: 20px;
   }
   .service__item p {
      font-size: 14px;
      line-height: 22px;
   }
}

/* 320px - 576px */
@media screen and (max-width: 576px){
   .service__item {
      flex-basis: 100%;
      margin-bottom: 10px;
      padding: 5px;
   }
   .service__title {
      font-size: 26px;
      line-height: 36px;
     
   }
   .service__item h3 {
      font-size: 21px;
      line-height: 28px;
      margin-top: 20px;
      margin-bottom: 20px;
   }
   .service__item p {
      font-size: 14px;
      line-height: 22px;
   }
}